html {
    background: #06231F;
}

.circulatio {
    padding-bottom: 5rem;
    overflow-x: auto;
}

.circulatio-c-list {
    position: relative;
    display: flex;
    user-select: none
}

.circulatio-c {
    position: relative;
    margin: 0 .5rem;
    flex: 0 0 26rem;
    border: 1px solid #555;
    background-color: #093431;
    height: 100%;
    border-radius: 0 0 .5rem .5rem;
}

.circulatio-c:hover {
    background: #214845
}

.labelInput {
    border-top: 20px solid #D24F37;
}

.labelInput div.text {
    line-height: 3.8rem;
}

.labelInput .text {
    min-height: 3.8rem;
    border-color: transparent
}

.labelInput .text:hover {
    cursor: pointer;
    border-radius: 4px;
    color: #aaa;
    background: #222
}

.labelInput .input {
    display: none
}

.labelInput .text.circulatio-c-name {
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
    line-height: 1.6rem;
    min-height: auto
}

.labelInput .input.circulatio-c-rename {
    display: none;
    width: calc(100% - 60px);
    margin: .5rem 0 .5rem 1rem;
    background-color: transparent;
}

.labelInput .text.circulatio-c-name:hover {
    background: inherit
}

.circulatio-c .dropdown {
    float: right
}

.circulatio-c .dropdown button {
    border: none
}

.circulatio-p-c {
    flex: none
}

.circulatio-i {
    position: relative;
    cursor: pointer;
    padding: 0 1rem .5rem 1rem;
}

.circulatio-i-content {
    padding: .5rem;
    background: #f5f6f8;
    border-radius: 5px;
    color: #000;
}

/* Post it colours:
Yellow: #fff9b1,
White: #f5f6f8,
Light Orange: #f5d128,
Olive: #d0e17a,
Green: #d5f692,
Pastel Blue: #a6ccf5,
Aqua: #67c6c0,
Blue: #23bfe7,
Orange: #ff9d48,
Pink: #ea94bb,
Red: #f16c7f,
and Purple: #b384bb */

.circulatio-i:nth-child(2n) .circulatio-i-content {
    background-color: #fff9b1;
}

.circulatio-i:nth-child(3n) .circulatio-i-content {
    background-color: #f5d128;
}

.circulatio-i:nth-child(4n) .circulatio-i-content {
    background-color: #d0e17a;
}

.circulatio-i:nth-child(5n) .circulatio-i-content {
    background-color: #d5f692;
}

.circulatio-i:nth-child(6n) .circulatio-i-content {
    background-color: #a6ccf5;
}

.circulatio-i:nth-child(7n) .circulatio-i-content {
    background-color: #67c6c0;
}

.circulatio-i:nth-child(8n) .circulatio-i-content {
    background-color: #23bfe7;
}

.circulatio-i:nth-child(9n) .circulatio-i-content {
    background-color: #ff9d48;
}

.circulatio-i:nth-child(10n) .circulatio-i-content {
    background-color: #ea94bb;
}

.circulatio-i:nth-child(11n) .circulatio-i-content {
    background-color: #f16c7f;
}

.circulatio-i:nth-child(12n) .circulatio-i-content {
    background-color: #b384bb;
}

.circulatio-i-content:hover {
    background: #AAA;
}

.circulatio-c-content .circulatio-i:last-child {
    padding-bottom: 1rem
}

.circulatio-btn-new-c {
    margin: 0 .5rem;
    flex: 0 0 26rem;
    height: 3rem;
    padding: 1rem 0;
    background: #252525;
    cursor: pointer;
    line-height: 3rem;
    text-align: center
}

.circulatio-btn-new-c:hover {
    background: #505050
}

.circulatio-btn-new-i {
    cursor: pointer;
    padding: 0 1rem .5rem 1rem;
    margin: 0 1rem
}

.circulatio-btn-new-i:hover {
    font-weight: 700
}

.dropdown {
    position: relative;
    font-weight: 700;
    cursor: pointer
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background: #111;
    min-width: 160px;
    box-shadow: 1rem rgba(0, 0, 0, .2);
    z-index: 1;
    border: 1px solid #444;
    border-radius: 4px;
    margin: -1.5rem 0 0 0
}

.dropdown .dropdown-option {
    padding: 0 1rem
}

.dropdown .dropdown-option:hover {
    color: #111;
    border-color: #eee;
    background: #ccc
}


body {
    color: #fff;
    margin: 0;
    padding: 0
}

html {
    background: #06231F;
    color: #fff;
    font-family: monospace;
    font-size: 1.4rem;
}

.button,
button {
    color: #fff;
    font-size: .8rem;
    padding: .7rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #D24F37;
    border: none;
    margin: 0 1rem;
    box-shadow: rgba(0, 0, 0, .3) 5px 5px 7px;
}

.button:focus,
.button:hover,
button:focus,
button:hover {
    color: #ccc;
    border-color: #ccc;
    outline: 0;
    text-decoration: none
}

.button:disabled,
button:disabled {
    color: #444;
    background: #222;
    border-color: transparent
}

.button:disabled:focus,
.button:disabled:hover,
button:disabled:focus,
button:disabled:hover {
    color: #444;
    background: #222;
    border-color: transparent;
    outline: 0;
    text-decoration: none
}

input[type=text] {
    min-height: 3.8rem;
    padding: 1rem;
    background: #111;
    color: #fff;
    border: 1px solid #444;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
}

input[type=text]:disabled {
    color: #444;
    background: #222;
    border: none
}

input[type=text]:disabled:focus,
input[type=text]:disabled:hover {
    color: #444;
    background: #222;
    border-color: #ccc;
    outline: 0;
    text-decoration: none
}

input[type=text]:focus {
    border: 1px solid #444;
    outline: 0
}

.show {
    display: block
}

/* New css */

.circulatio-c .dropdown button {
    background-color: transparent;
    box-shadow: none;
    ;
}