.circulatio {
    padding-bottom: 5rem;
    overflow-x: auto;
}

/* Columns */
.circulatio-c-list {
    position: relative;
    display: flex;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.circulatio-c {
    position: relative;
    display: inline-block;
    margin: 0rem 0.5rem;
    flex: 0 0 26rem;
    background-color: #030303;
    height: 100%;
}

.circulatio-c:hover {
    background-color: #080808;
}

.labelInput .text.circulatio-c-name {
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    line-height: 1.6rem;
    min-height: auto;
}

.labelInput .input.circulatio-c-rename {
    display: none;
    width: calc(100% - 60px);
    margin: .5rem 0 .5rem 1rem;
}

.labelInput .text.circulatio-c-name:hover {
    background-color: inherit;
}

.circulatio-c .dropdown {
    float: right;
}

.circulatio-c .dropdown button {
    border: none;
}

/* Placeholder */
.circulatio-p-c {
    flex: none;
}

/* Item */
.circulatio-i {
    position: relative;
    cursor: pointer;
    padding: 0 1rem 0.5rem 1rem;
}

.circulatio-i-content {
    padding: 0.5rem;
    background-color: #252525;
}

.circulatio-i-content:hover {
    background-color: #505050;
}

.circulatio-c-content .circulatio-i:last-child {
    padding-bottom: 1rem;
}

/* Insert data */
.circulatio-btn-new-c {
    display: inline-block;
    margin: 0rem 0.5rem;
    flex: 0 0 26rem;
    height: 3rem;
    padding: 1rem 0;

    background-color: #252525;
    cursor: pointer;

    line-height: 3rem;
    text-align: center;
}

.circulatio-btn-new-c:hover {
    background-color: #505050;
}

.circulatio-btn-new-i {
    cursor: pointer;
    padding: 0 1rem 0.5rem 1rem;
    margin: 0rem 1rem;
}

.circulatio-btn-new-i:hover {
    font-weight: bold;
}

